* {
    padding: 0;
    margin: 0;
}
#home .top-menu {
    background: #f9f9ff;
    padding-top: 20px;
    font-size: 15px;
}
#home .top-menu ul.icon {
    float: left;
}
#home .top-menu ul.icon li {
    display: inline-block;
    list-style: none;
    margin-right: 15px;
}
#home .top-menu ul.icon li a {
    color:#fa4569d7;
}
#home .top-menu ul.contact {
    float: right;
}
#home .top-menu ul.contact a {
    color: gray;
    text-decoration: none;
    margin-right: 30px;
}
#home .main-menu {
    margin-top: 40px;
}
#home .main-menu nav ul li {
    margin-right: 45px;
}
#home .main-menu nav ul li:last-child {
    margin-right: 27px;
}
#home .main-menu nav ul li a {
    font-size: 13px;
    text-transform: uppercase;
    color: #222222;
    text-decoration: none;
}
#home .main-menu nav ul li a:hover {
    color: rgba(61, 189, 10, 0.726);
}
#home .main-menu nav ul li ul.lf {
    position: absolute;
    top: 180%;
    left: 0px;
    min-width: 200px;
    text-align: left;
    opacity: 0;
    transition: all 300ms ease-in;
    display: block;
    border: none;
    padding: 0px;
    border-radius: 0px;
}
#home .main-menu nav ul li:hover ul.lf {
    display: block;
    opacity: 1;
}
#home .main-menu nav ul li ul.lf li {
    display: block;
    float: none;
    margin-right: 0px;
    border-bottom: 1px solid #ededed;
    padding-left: 22px;
    transition: all 0.4s linear;
    text-transform: uppercase;
    line-height: 45px;
}
#home .main-menu nav ul li ul li a{
    
}
#home .main-menu nav ul li ul li:hover {
    background: rgba(61, 189, 10, 0.726);
}
#home .main-menu nav ul li ul li:hover a {
    color: #fff;
}
.banner_inner.d-flex.align-items-center {
    background: #04091e;
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 660px;
    z-index: 1;
}
.banner_inner .overlay {
    background: url(../img/banner-3.jpg) no-repeat scroll center center;
    opacity: .5;
    height: 125%;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: -1;
}
element.style {
    transform: translateY(-41.2021px);
}
.banner_inner h2 {
    font-size: 60px;
    font-weight: bold;
    font-family: "Playfair Display", serif;
    line-height: 66px;
    margin-bottom: 15px;
}
.banner_inner p {
    font-size: 16px;
    margin-bottom: 35px;
}
.main_btn {
    display: inline-block;
    background: #4dbf1c;
    padding: 0px 40px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 48px;
    outline: none !important;
    box-shadow: none !important;
    text-align: center;
    border: 1px solid #4dbf1c;
    cursor: pointer;
    border-radius: 5px;
    transition: all 300ms linear 0s;
}
.banner_inner a:hover {
    background: #615c5c0c;
    text-decoration: none;
}
.blog_categorie_area {
    padding-top: 80px;
    padding-bottom: 80px;
}
.categories_post {
    position: relative;
    text-align: center;
}
.categories_post:hover .categories_details {
    background: rgba(77, 191, 28, 0.85);
}
.categories_post .categories_details {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 10px;
    bottom: 20px;
    background: rgba(62, 93, 132, 0.71);
    color: #fff;
    transition: all 0.3s linear;
    display: flex;
    align-items: center;
    justify-content: center;
}
.categories_post .categories_details a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
.categories_post .categories_details h5 {
    margin-bottom: 0px;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
    color: #fff;
    position: relative;
}
.categories_post .categories_details .border_line {
    margin: 10px 0px;
    background: #fff;
    width: 100%;
    height: 1px;
}
.categories_post .categories_details p {
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 0px;
}
.blog_item {
    margin-bottom: 40px;
}
.blog_info {
    padding-top: 30px;
}.blog_info .post_tag {
    padding-bottom: 20px;
}
.blog_info .post_tag a {
    font: 300 14px/21px "Roboto", sans-serif;
    color: #222222;
    text-decoration: none;
}
.blog_info .post_tag a.active {
    color: #4dbf1c;
}
.list {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.blog_info .blog_meta li a {
    font: 300 14px/20px "Roboto", sans-serif;
    color: #777777;
    vertical-align: middle;
    padding-bottom: 12px;
    display: inline-block;
    text-decoration: none;
}
.blog_info .blog_meta li a i {
    color: #222222;
    font-size: 16px;
    font-weight: 600;
    padding-left: 15px;
    line-height: 20px;
    vertical-align: middle;
}
.blog_info .blog_meta li:hover a {
    color: #4dbf1c;
}
.blog_post img {
    max-width: 102%;
}
.blog_details {
    padding-top: 20px;
}
.blog_details a {
    text-decoration: none;
}
.blog_details h2 {
    font-size: 24px;
    line-height: 36px;
    color: #222222;
    font-weight: 600;
    transition: all 0.3s linear;
}
.blog_details p {
    margin-bottom: 26px;
}
.white_bg_btn {
    display: inline-block;
    background: #f9f9ff;
    padding: 0px 35px;
    color: #222222;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 34px;
    border-radius: 0px;
    outline: none !important;
    box-shadow: none !important;
    text-align: center;
    border: 1px solid #eeeeee;
    cursor: pointer;
    transition: all 300ms linear 0s;
}
.white_bg_btn:hover {
    background: rgba(7, 166, 240, 0.863);
    color: #ededed;
}
.blog_right_sidebar {
    border: 1px solid #eeeeee;
    background: #fafaff;
    padding: 30px;
}
.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}
.blog_right_sidebar .search_widget .input-group .form-control {
    font-size: 14px;
    line-height: 29px;
    border: 0px;
    width: 100%;
    font-weight: 300;
    color: #fff;
    padding-left: 20px;
    border-radius: 45px;
    z-index: 0;
    background: #4dbf1c;
}
.blog_right_sidebar .search_widget .input-group .btn-default {
    position: absolute;
    right: 20px;
    background: transparent;
    border: 0px;
    box-shadow: none;
    font-size: 14px;
    color: #fff;
    padding: 0px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}
